/.idea/
*.bbl
/_minted-maxima/
*.sync-conflict-*.*
*.mac
*.lock
/__pycache__/
/_minted-Thesis/
/images/phase.png
/images/sphere/
/images/7_square/
*.blg
*.png
testing/images
testing/images/*
testdata_*.png
**/.png
**/*.png
